<div class="container">

    <div class="company">Webstar</div>
    <div class="frontend">FRONTEND</div>

    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="form">
            <div class="form__email form-group">
                <div class="form__email__label">
                    <label for="email">Felhasználónév</label>
                </div>
                <div class="form__email__input">
                    <input type="email" class="form-control" formControlName="email" />
                </div>
            </div>
            <div class="form__password form-group">
                <div class="form__password__label">
                    <label for="password">Jelszó</label>
                </div>
                <div class="form__password__input">
                    <input type="password" class="form-control" formControlName="password" required password />
                </div>
            </div>
            <div class="form__button">
                <button type="submit">Belépés</button>
            </div>
        </div>
    </form>

    <div class="error" *ngIf="error">{{error}}</div>
</div>