<div class="container">
    <div class="wrapper">

        <div class="header">
            <div class="header__user">
                <div class="header__user__logo"><img src="../../assets/icons/user.svg" alt=""></div>
                <div class="header__user__name">{{name}}</div>
            </div>
            <div class="header__logout">
                <div class="header__logout__text">Űrhajó elhagyása</div>
                <div class="header__logout__logo"><img src="../../assets/icons/logout.svg" alt=""></div>
            </div>
        </div>

        <div class="main">
            <div class="main__headline">
                <div class="main__headline__text">Válassz két harcost az ellenkező oldalakból!</div>
                <div class="main__headline__switch">
                    <div class="main__headline__switch__switch-dots"></div>
                    <div class="main__headline__switch__left-arrow swiper-button-prev">
                        <img src="../../assets/icons/arrow_circle.png" alt=""></div>
                    <div class="main__headline__switch__right-arrow swiper-button-next">
                        <img src="../../assets/icons/arrow_circle.png" alt=""></div>
                </div>
            </div>
            <div class="main__body">
                <div class="main__body__left">
                    <div class="main__body__left__prop">
                        <div class="main__body__left__prop__side">
                            <div class="main__body__left__prop__side__logo"></div>
                            <div class="main__body__left__prop__side__text">
                                <div class="main__body__left__prop__side__text__type">OLDAL</div>
                                <div class="main__body__left__prop__side__text__value">Sötét</div>
                            </div>
                        </div>
                        <div class="main__body__left__prop__power">
                            <div class="main__body__left__prop__power__logo">
                                <img src="../../assets/icons/star.svg" alt="">
                            </div>
                            <div class="main__body__left__prop__power__text">
                                <div class="main__body__left__prop__power__text__type">KÜLÖNLEGES ERŐ</div>
                                <div class="main__body__left__prop__power__text__value">Páncélzat</div>
                            </div>
                        </div>
                    </div>
                    <div class="main__body__left__name">BoBA <br>FETT</div>
                    <div class="main__body__left__btn"><button>Kiválasztom</button></div>
                    <div class="main__body__left__desc">
                        <div class="main__body__left__desc__heading">
                            <div class="main__body__left__desc__heading__logo"></div>
                            <div class="main__body__left__desc__heading__text">LEÍRÁS</div>
                        </div>
                        <div class="main__body__left__desc__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, maiores libero odio consequuntur eius quae eum cum. Distinctio numquam atque iure molestiae nostrum, sint error iusto natus? Eum similique et modi ut repellendus
                            illum rerum facilis culpa id numquam? Animi quae est dolorum temporibus esse nisi. Tempora recusandae, iste, tenetur harum voluptatem quos, quisquam iusto assumenda quaerat velit ratione saepe!</div>
                    </div>
                </div>
                <div class="main__body__right">
                    <div class="background-circle">
                    </div>
                    <swiper [config]="config">
                        <div class="main__body__right__image swiper-wrapper">
                            <!-- Slides -->
                            <div class="main__body__right__image__slide swiper-slide" *ngFor="let char of (characters$ | async)">
                                <img src="../../assets/images/characters/{{char.id}}.png" alt="">
                            </div>
                        </div>
                    </swiper>
                </div>
            </div>
        </div>

    </div>
    <div class="bottom">
        <div class="bottom__btn"><button>KüzDELEM SziMuLÁLÁSA</button>
            <div class="copyright">Webstar csoport Kft. - &#169; Minden jog fenntartva</div>
        </div>
    </div>
</div>