<div class="container" [ngStyle]="{'background-image': 'url(' +getBgImageSrc()+ ')'}">
    <div class="wrapper">

        <app-header></app-header>

        <app-select *ngIf="!started && fetched" [characters]="characters" (characterEmitter)="getFightingCharsAndStart($event)">
        </app-select>
        <app-game *ngIf="started && selectedChars.length==2 && !winnerChar" [selectedChars]="selectedChars" (winnerCharcharacterEmitter)="getWinnerCharacter($event)"></app-game>
        <app-winner *ngIf=" winnerChar" [winnerChar]="winnerChar"></app-winner>


        <app-footer></app-footer>
    </div>
</div>