@font-face {
    font-family: 'poppins-regular';
    src: url("fonts/Poppins-Regular.ttf")format('truetype'),
}

@font-face {
    font-family: 'poppins-bold';
    src: url("fonts/poppins-bold.ttf")format('truetype'),
}

@font-face {
    font-family: 'poppins-black';
    src: url("fonts/Poppins-Black.ttf")format('truetype'),
}

@font-face {
    font-family: 'star-jedi';
    src: url("fonts/Starjedi.ttf")format('truetype'),
}

@font-face {
    font-family: 'distant-galaxy';
    src: url("fonts/DISTGRG_.ttf")format('truetype'),
}